body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* css kintamieji */
:root {
    --dark-red: #561C24;
    --red: #6D2932;
    --beige: #C7B7A3;
    --light-beige: #E8D8C4;
}

body {
    background-color: var(--dark-red);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.enterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter {
    padding: 12px 20px;
    border: 2px solid var(--light-beige);
    border-radius: 5px;
    width: 50%;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: var(--beige);
    margin-left: 20px;
    cursor: pointer;
}

#search {
    padding: 12px 20px;
    border: 2px solid var(--light-beige);
    border-radius: 5px;
    width: 50%;
}

#list {
    list-style: none;
}

#list li {
    border: 2px solid var(--red);
    padding: 10px;
    background-color: #fff;
    width: 500px;
}

#list li:hover {
    background-color: var(--light-beige);
}